/* Navbar */

.navbar.main {
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 5px;
    width: auto;
}

.navbar.main .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .actions {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar .actions a,
.navbar .actions .btn-toolbar,
.navbar .actions .btn-group {
    display: inline-block;
}

.navbar .btn-toolbar {
    margin: 0 7px !important;
}

/* Table helpers */

table td.expand {
    width: 99%
}

table td.shrink {
    white-space:nowrap
}

/* Grid */
.grid
{
    overflow: hidden;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin-left: -14px;
    margin-right: -14px;
}

.selected {
	color: #fff !important;
	text-decoration: none;
	outline: 0;
	background-color: #0081C2;
	background-image: -moz-linear-gradient(top, #4DACDB, #3392C2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4DACDB), to(#3392C2));
	background-image: -webkit-linear-gradient(top, #4DACDB, #3392C2);
	background-image: -o-linear-gradient(top, #4DACDB, #3392C2);
	background-image: linear-gradient(to bottom, #4DACDB, #3392C2);
	background-repeat: repeat-x;
}

.tab-content ul{
    margin: 0 0 0 0;
    list-style: none;
}

