<section class="grid" ng-controller="GridCtrl">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" ng-style="mapBackgroundCssObject()" ng-attr-height="{{ gridHeight }}" width="100%" ng-mousedown="mouseDown($event)" ng-mouseup="mouseUp($event)" ng-mousemove="mouseMove($event)" ng-mouseleave="mouseLeave($event)" msd-wheel="zoom($event);">
        <defs>
            <pattern x="0" y="0" width="32" height="32" id="gridPattern"
                    patternUnits="userSpaceOnUse"
                    patternTransform="translate({{ translate.x }} {{ translate.y }}) scale({{ scale }})">

            <rect
                    x="0"
                    y="0"
                    width="32" height="32" fill-opacity="0"
             ng-attr-stroke="{{ map.gridline_color}}"
             stroke-width="2"
             stroke-opacity="{{ map.grid_opacity }}" />

            </pattern>
        </defs>

        <!-- someday I'll figure out how to do this :( ) -->
        <!--<g ng-include="'/partials/layers_svg.html'"></g>-->
        <g ng-controller="ListLayersCtrl" ng-attr-transform="translate({{ translate.x }} {{translate.y}}) scale({{ scale }})">
          <g ng-repeat="layer in layers | filter:isVisible">

            <!-- zones -->
            <g ng-controller="ListAllZonesCtrl" ng-init="mode='Zone';">

              <g ng-repeat="zone in zones" ng-show="layer.id == zone.layer_id">

                <g ng-switch="zone.shape">

                  <rect ng-switch-when="rect"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-x="{{zone.x * 32}}"
                    ng-attr-y="{{zone.y * 32}}"
                    ng-attr-width="{{zone.width * 32}}"
                    ng-attr-height="{{zone.height * 32}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <circle ng-switch-when="circle"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-cx="{{zone.cx * 32}}"
                    ng-attr-cy="{{zone.cy * 32}}"
                    ng-attr-r="{{zone.r * 32}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polygon ng-switch-when="polygon"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polyline ng-switch-when="polyline"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                </g>

              </g>

            </g>

            <!-- scenery -->
            <g ng-controller="ListAllZonesCtrl" ng-init="mode = 'Scenery';">

              <g ng-repeat="zone in scenery" ng-show="layer.id == zone.layer_id">

                <g ng-switch="zone.shape">

                  <rect ng-switch-when="rect"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-x="{{zone.x * 32}}"
                    ng-attr-y="{{zone.y * 32}}"
                    ng-attr-width="{{zone.width * 32}}"
                    ng-attr-height="{{zone.height * 32}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <circle ng-switch-when="circle"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-cx="{{zone.cx * 32}}"
                    ng-attr-cy="{{zone.cy * 32}}"
                    ng-attr-r="{{zone.r * 32}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polygon ng-switch-when="polygon"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polyline ng-switch-when="polyline"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                </g>

              </g>

            </g>

            <g ng-controller="ListCombatantsCtrl">

              <g ng-repeat="combatant in combatants" ng-show="layer.id == combatant.layer_id && ( combatant.owner == user || ! combatant.invisible )">

                <!-- The aura -->
                <rect
                  ng-attr-x="{{ (combatant.x - combatant.aura_size) * 32 }}"
                  ng-attr-y="{{ (combatant.y - combatant.aura_size) * 32 }}"
                  ng-attr-width="{{ (combatant.size + 2 * combatant.aura_size) * 32 }}"
                  ng-attr-height="{{ (combatant.size + 2 * combatant.aura_size) * 32 }}"
                  ng-attr-fill="{{combatant.aura_color}}"
                  fill-opacity="{{ 0.3 * ( combatant.aura_size > 0) }}"
                  ng-attr-stroke="{{combatant.aura_color}}"
                  stoke-width="10"
                  stoke-opacity="1"
                  rx="16"
                  pointer-events="none"
                />

                <!-- Combatant rectangle itself -->
                <rect
                  ng-attr-x="{{combatant.x * 32}}"
                  ng-attr-y="{{combatant.y * 32}}"
                  ng-attr-width="{{combatant.size * 32}}"
                  ng-attr-height="{{combatant.size * 32}}"
                  ng-attr-fill="{{combatant.color}}"
                  rx="16"
                  ng-mousedown="selectCombatant(combatant, $event)"
                  stroke="{{combatant.color}}"
                  stroke-width="{{5 * combatant.invisible}}"
                  fill-opacity="{{ 1 - (combatant.invisible) }}"
                />

                <!-- Combatants that have token images -->
                <g ng-switch="!! combatant.token_image">
                  <image
                    ng-switch-when="true"
                    ng-attr-x="{{ (combatant.x + 0.15) * 32 }}"
                    ng-attr-y="{{ (combatant.y + 0.15) * 32 }}"
                    ng-attr-width="{{ (combatant.size - 0.3) * 32 }}"
                    ng-attr-height="{{ (combatant.size - 0.3) * 32 }}"
                    xlink:href="{{combatant.token_image}}"
                    pointer-events="none"
                  />
                  <g ng-switch-when="false"></g>
                </g>

                <!-- if selected, the rotating border -->
                <rect
                  ng-attr-x="{{combatant.x * 32}}"
                  ng-attr-y="{{combatant.y * 32}}"
                  ng-attr-width="{{combatant.size * 32}}"
                  ng-attr-height="{{combatant.size * 32}}"
                  fill="none"
                  rx="16"
                  stroke="blue"
                  stroke-width="7"
                  stroke-dasharray="15 5"
                  ng-show="combatant == combatants.selected"
                >
                  <animate attributeType="auto" attributeName="stroke-dashoffset" from="0" to="20" dur="1s" repeatCount="indefinite" />
                </rect>

              </g>

            </g>

            <!-- auras -->
            <g ng-controller="ListAllZonesCtrl" ng-init="mode = 'Aura';">

              <g ng-repeat="zone in auras" ng-show="layer.id == zone.layer_id">

                <g ng-switch="zone.shape">

                  <rect ng-switch-when="rect"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity / 3.0}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-x="{{zone.x * 32}}"
                    ng-attr-y="{{zone.y * 32}}"
                    ng-attr-width="{{zone.width * 32}}"
                    ng-attr-height="{{zone.height * 32}}"
                    pointer-events="{{ pointerEvents(zone); }}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <circle ng-switch-when="circle"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity / 3.0}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-cx="{{zone.cx * 32}}"
                    ng-attr-cy="{{zone.cy * 32}}"
                    ng-attr-r="{{zone.r * 32}}"
                    pointer-events="{{ pointerEvents(zone); }}"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polygon ng-switch-when="polygon"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity / 3.0}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    pointer-events="none"
                    ng-mousedown="setToolOverride(zone, $event)" />

                  <polyline ng-switch-when="polyline"
                    ng-attr-fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity / 3.0}}"
                    ng-attr-stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    ng-attr-points="{{pointString(zone)}}"
                    pointer-events="none"
                    ng-mousedown="setToolOverride(zone, $event)" />

                </g>

              </g>

            </g>

          </g>
        </g>

        <g ng-controller="EditZoneCtrl" ng-attr-transform="translate({{ translate.x }} {{translate.y}}) scale({{ scale }})">
          <g ng-switch="zone.shape">

            <g ng-switch-when="rect" ng-controller="EditRectZoneCtrl">
              <circle
                ng-repeat="point in points"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                stroke="black"
                stroke-width="4"
                ng-mousedown="movingPoint(point, $event)"
              />
            </g>

            <g ng-switch-when="circle" ng-controller="EditCircleZoneCtrl">
              <circle
                ng-repeat="point in points"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                stroke="black"
                stroke-width="4"
                ng-mousedown="movingPoint(point, $event)"
              />
            </g>

            <g ng-switch-when="polyline" ng-controller="EditPolyZoneCtrl">

              <circle
                ng-repeat="point in midPoints"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                fill-opacity="0.5"
                stroke="black"
                stroke-width="4"
                stroke-opacity="0.5"
                ng-mousedown="addPoint(point, $event)"
              />

              <circle
                ng-repeat="point in points"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                stroke="black"
                stroke-width="4"
                ng-mousedown="movingPoint(point, $event)"
              />

              <image
                ng-repeat="point in points"
                ng-attr-x="{{ point.x * 32 + 8 }}"
                ng-attr-y="{{ point.y * 32 - 16 }}"
                width="8"
                height="8"
                xlink:href="/images/red-circle-x.png"
                ng-mousedown="setPointToRemove(point, $event)"
                ng-mouseup="removePoint(point, $event)"
              />

            </g>

            <g ng-switch-when="polygon" ng-controller="EditPolyZoneCtrl">

              <circle
                ng-repeat="point in midPoints"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                fill-opacity="0.5"
                stroke="black"
                stroke-width="4"
                stroke-opacity="0.5"
                ng-mousedown="addPoint(point, $event)"
              />

              <circle
                ng-repeat="point in points"
                ng-attr-cx="{{point.x * 32}}"
                ng-attr-cy="{{point.y * 32}}"
                r="8"
                fill="white"
                stroke="black"
                stroke-width="4"
                ng-mousedown="movingPoint(point, $event)"
              />

              <image
                ng-repeat="point in points"
                ng-attr-x="{{ point.x * 32 + 8 }}"
                ng-attr-y="{{ point.y * 32 - 16 }}"
                width="8"
                height="8"
                xlink:href="/images/red-circle-x.png"
                ng-mousedown="setPointToRemove(point, $event)"
                ng-mouseup="removePoint(point, $event)"
              />

            </g>
          </g>
        </g>

        <rect x="0" y="0" width="100%" height="100%" stroke-opacity="0"
              fill="url(#gridPattern)" style="pointer-events:none;" id="gridRect"/>

        <g ng-controller="MeasureToolCtrl" ng-show="toolData.measuring" transform="translate({{ translate.x }} {{translate.y }}) scale({{ scale }})">
          <line
            ng-attr-x1="{{ startX() }}"
            ng-attr-y1="{{ startY() }}"
            ng-attr-x2="{{ stopX() }}"
            ng-attr-y2="{{ stopY() }}"
            stroke="black" stroke-width="9" stroke-linecap="round" />
          <line
            ng-attr-x1="{{ startX() }}"
            ng-attr-y1="{{ startY() }}"
            ng-attr-x2="{{ stopX() }}"
            ng-attr-y2="{{ stopY() }}"
            stroke="white" stroke-width="5" stroke-linecap="round" />
          <rect
            ng-attr-x="{{ midx() * 32 - (3 * (1 / scale) ) }}"
            ng-attr-y="{{ midy() * 32 - (16 * (1 / scale) ) }}"
            ng-attr-width="{{ (distance().toString().length * 12) / scale }}"
            ng-attr-height="{{ 24 / scale }}"
            ng-attr-rx="{{8 / scale }}"
            ng-attr-ry="{{8 / scale }}"
          />
          <text
            ng-attr-x="{{ midx() * 32 * scale }}"
            ng-attr-y="{{ midy() * 32 * scale }}"
            fill="white"
            stroke="white"
            font-size="16"
            ng-attr-transform="scale({{ 1 / scale }})"
          >{{ toolData.distance() }}</text>
        </g>
    </svg>
</section>
