<section class="grid" ng-controller="GridCtrl">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" ng-style="mapBackgroundCssObject()" height="{{ gridHeight }}" width="100%" ng-mousedown="mouseDown($event)" ng-mouseup="mouseUp($event)" ng-mousemove="mouseMove($event)" ng-mouseleave="mouseLeave($event)" msd-wheel="zoom($event);">
        <defs>
            <pattern x="0" y="0" width="32" height="32" id="gridPattern"
                    patternUnits="userSpaceOnUse"
                    patternTransform="translate({{ translate.x }} {{ translate.y }}) scale({{ scale }})">

            <rect
                    x="0"
                    y="0"
                    width="32" height="32" fill-opacity="0"
             stroke="{{ map.gridline_color}}"
             stroke-width="2"
             stroke-opacity="{{ map.grid_opacity }}" />

            </pattern>
        </defs>

        <!-- someday I'll figure out how to do this :( ) -->
        <!--<g ng-include="'/partials/layers_svg.html'"></g>-->
        <g ng-controller="ListLayersCtrl" transform="translate({{ translate.x }} {{translate.y}}) scale({{ scale }})">
          <g ng-repeat="layer in layers | filter:isVisible">

            <!-- zones -->
            <g ng-controller="ListZonesCtrl">

              <g ng-repeat="zone in zones" ng-show="layer.id == zone.layer_id">

                <g ng-switch="zone.shape">
                  <rect ng-switch-when="rect"
                    fill="{{zone.fill_color}}"
                    fill-opacity="{{zone.fill_opacity}}"
                    stroke="{{zone.stroke_color}}"
                    stroke-width="{{zone.stroke_width}}"
                    stroke-opacity="{{zone.stroke_opacity}}"
                    x="{{zone.x * 32}}"
                    y="{{zone.y * 32}}"
                    width="{{zone.width * 32}}"
                    height="{{zone.height * 32}}" 
                    ng-mousedown="setToolOverride(zone, $event)" />
                </g>

              </g>

            </g>

            <g ng-controller="ListCombatantsCtrl">

              <g ng-repeat="combatant in combatants" ng-show="layer.id == combatant.layer_id">

                <!-- The aura -->
                <rect
                  x="{{ (combatant.x - combatant.aura_size) * 32 }}"
                  y="{{ (combatant.y - combatant.aura_size) * 32 }}"
                  width="{{ (combatant.size + 2 * combatant.aura_size) * 32 }}"
                  height="{{ (combatant.size + 2 * combatant.aura_size) * 32 }}"
                  fill="{{combatant.aura_color}}"
                  fill-opacity="0.3"
                  stroke="{{combatant.aura_color}}"
                  stoke-width="10"
                  stoke-opacity="1"
                  rx="16"
                  pointer-events="none"
                />

                <!-- Combatant rectangle itself -->
                <rect
                  x="{{combatant.x * 32}}"
                  y="{{combatant.y * 32}}"
                  width="{{combatant.size * 32}}"
                  height="{{combatant.size * 32}}"
                  fill="{{combatant.color}}"
                  rx="16"
                  ng-mousedown="selectCombatant(combatant, $event)"
                />

                <!-- if selected, the rotating border -->
                <rect
                  x="{{combatant.x * 32}}"
                  y="{{combatant.y * 32}}"
                  width="{{combatant.size * 32}}"
                  height="{{combatant.size * 32}}"
                  fill="none"
                  rx="16"
                  stroke="blue"
                  stroke-width="7"
                  stroke-dasharray="15 5"
                  ng-show="combatant == combatants.selected"
                >
                  <animate attributeType="auto" attributeName="stroke-dashoffset" from="0" to="20" dur="1s" repeatCount="indefinite" />
                </rect>

              </g>

            </g>

          </g>
        </g>

        <g ng-controller="EditZoneCtrl" transform="translate({{ translate.x }} {{translate.y}}) scale({{ scale }})">
          <g ng-switch="zone.shape">
            <g ng-switch-when="rect" ng-controller="EditRectZoneCtrl">
              <circle
                ng-repeat="point in points"
                cx="{{point.x * 32}}"
                cy="{{point.y * 32}}"
                r="8"
                fill="white"
                stroke="black"
                stroke-width="4"
                ng-mousedown="movingPoint(point, $event)"
              />
            </g>
          </g>
        </g>

        <rect x="0" y="0" width="100%" height="100%" stroke-opacity="0"
              fill="url(#gridPattern)" style="pointer-events:none;" id="gridRect"/>

        <g ng-controller="MeasureToolCtrl" ng-show="toolData.measuring">
          <line
            x1="{{ startX() }}"
            y1="{{ startY() }}"
            x2="{{ stopX() }}"
            y2="{{ stopY() }}"
            stroke="black" stroke-width="9" stroke-linecap="round" />
          <line
            x1="{{ startX() }}"
            y1="{{ startY() }}"
            x2="{{ stopX() }}"
            y2="{{ stopY() }}"
            stroke="white" stroke-width="5" stroke-linecap="round" />
          <rect
            x="{{ transformX( midx() * 32 ) - 3}}"
            y="{{ transformY( midy() * 32 ) - 16 }}"
            width="{{ distance().toString().length * 12 }}"
            height="24"
            rx="8"
            ry="8"
          />
          <text
            x="{{ transformX( midx() * 32) }}"
            y="{{ transformY( midy() * 32) }}"
            fill="white"
            stroke="white"
          >{{ toolData.distance() }}</text>
        </g>
    </svg>
</section>
