<header id="main-header" ng-controller="HeaderCtrl">
    <div class="navbar navbar-static-top main">
        <div id="top-bar"class="collapse in">
            <div class="navbar-inner">
                <div>
                    <a class="brand" href="/">RPG Battlemap</a>
                    <div class="pull-right navbar-text" ng-controller="PersonaCtrl" ng-switch="user">
                        <a ng-switch-when="null" href="javascript:void()" class="persona-button" ng-click="signin()"><span>Sign in with your Email</span></a>
                        <span ng-switch-default>Welcome, {{ user }}! <a href="#" ng-click="signout()" class="persona-button"><span>Sign Out</span></a>
                    </div>
                </div>
            </div>
        </div>

        <span class="action" ng-switch on="noToolbar">
            <span ng-switch-when="false" ng-include="'/partials/map_toolbar.html'"></span>
        </span>
    </div>
</header>
