<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Layers</button>

<button class="btn btn-small" ng-controller="ListLayersCtrl" ng-show="layers.selected" ng-click="selectLayer(null)">
	<span class="icon-eject"> </span>
</button>

<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
	<span class="caret"> </span>
</button>

<ul class="dropdown-menu" ng-controller="ListLayersCtrl">

	<li ng-repeat="layer in layers" style="clear:both;">
		<a ng-click="selectLayer(layer)" ng-class="{'selected':layers.selected == layer}">
			<i class="icon-fixed-width icon-border" ng-class="{true:'icon-eye-open', false: 'icon-eye-close'}[layer.visible == true]" ng-click="layer.visible = ! layer.visible"></i>
			{{ layer.name }}
			<button type="button" class="close pull-right" ng-hide="layers.length < 2" ng-click="removeLayer(layer)">&times;</button>
		</a>
	</li>

	<li class="divider"></li>

	<li ng-show="user == map.owner">
		<label for="layerNewName">New Layer Name</label>
		<div class="input-append">
			<input type="text" ng-model="new_layer_name" ng-click="stopPropagation($event)" >
			<button class="btn" type="button" ng-click="newLayer(new_layer_name)">New</button>
		</div>
	</li>

</ul>
