<section ng-include="'/partials/header.html'"></section>

<div class="row-fluid">
    <div class="span4">
        <div class="navbar navbar-header navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-globe"></i> Participating Maps</span>
            </div>
        </div>

        <div class="container-fluid">
            <table class="table table-bordered table-striped table-centered">
                <tr ng-repeat="map in getParticipating(maps)" ng-show="{{ map.owner != user }}">
                    <td class="expand">
                        <a href="{{ map.url }}">{{ map.name }}</a>
					</td>
					<td class="shrink">
						<!-- This exists to padd the cells correctly; css was being quite the pain, and this was simpler.
							I assume we'll have some use for buttons here in the future? Til then, use this as a placeholder. -->
						<a href="{{ map.url }}" class="btn btn-small"><i class="icon-eye-open"></i> View</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="span4">
        <div class="navbar navbar-header navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-compass"></i> My Maps</span>
            </div>
        </div>
        <div class="container-fluid">
			<table class="table table-bordered table-striped table-centered">
				<tr ng-repeat="map in maps" ng-show="{{ map.owner == user }}">
					<td class="expand">
						<a href="{{ map.url }}">{{ map.name }}</a>
					</td>
					<td class="shrink">
						<button class="btn btn-small btn-danger" ng-click="deleteMap(map)"><i class="icon-trash"></i> Delete Map</button>
					</td>
				</tr>
			</table>
			<hr>
			<div class="input-append" style="width: calc(100% - 85px);">
				<input type="text" class="input-block-level" placeholder="Map name here..." ng-model="newMapName" ng-click="stopPropagation($event)" >
				<button class="btn" type="button" ng-click="createMap()">New Map</button>
			</div>
		</div>
    </div>

    <div class="span4">
        <div class="navbar navbar-header navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-user"></i> My characters</span>
            </div>
        </div>
        <div class="container-fluid">
			<table class="table table-bordered table-striped table-centered" ng-show="characters">
				<tr ng-repeat="character in characters" ng-show="{{ character.owner_id == 1}}">
					<td class="expand">
						<a href="{{ character.url }}">{{ character.name }}</a>
					</td>
					<td class="shrink">
						<button class="btn btn-small btn-danger"><i class="icon-trash"></i> Delete Character</button>
					</td>
				</tr>
			</table>
			<h4 class="text-center" ng-hide="characters">Please add a character.</h4>
			<hr>
			<div class="input-append" style="width: calc(100% - 115px);">
				<input type="text" class="input-block-level" placeholder="Character name here..." ng-model="new_character" ng-click="stopPropagation($event)" >
				<button class="btn" type="button" ng-click="createCharacter(new_character)">New Character</button>
			</div>
		</div>
    </div>

</div>

