<div class="btn-group" ng-controller="AddZoneToolCtrl" ng-init="zone.name = 'Movable Scenery'; mode = 'Scenery';" ng-include="'/partials/zone_tool_button.html'">
</div>

<div class="btn-group" ng-controller="AddZoneToolCtrl" ng-init="zone.name = 'Floating Aura'; mode = 'Aura';" ng-include="'/partials/zone_tool_button.html'">
</div>

<div class="btn-group" ng-controller="AddZoneToolCtrl" ng-show="{{ map.owner == user }}" ng-init="zone.name = 'Blocking Terrain'; mode = 'Zone';" ng-include="'/partials/zone_tool_button.html'">
</div>


<div class="btn-group" ng-controller="AddCombatantToolCtrl">
	<button class="btn btn-small" ng-class="{'active':toolName == 'Add Combatant'}" ng-click="setTool()">{{ combatant.name_base }}</button>
	<button class="btn btn-small dropdown-toggle" data-toggle="dropdown" ng-click="setTool()">
		<span class="caret"></span>
	</button>
	<div ng-click="stopPropagation($event)" class="dropdown-menu">
		<tabset>

			<tab select="combatant.token_image = false;">
				<tab-heading>
					<i class="icon-edit"> </i>
				</tab-heading>

				<ul>

					<li>
						<label for="newCombatantName">Name</label>
						<input type="text" ng-model="combatant.name_base" name="newCombatantName" ng-click="stopPropagation($event)" />
					</li>

					<li>
						<label for="newCombatantSize">Size</label>
						<input ng-model="combatant.size" name="newCombatantSize" ng-click="stopPropagation($event)" type="number" step="1" min="1" max="10" />
					</li>

					<li>
						<label for="newCombatantColor">Color</label>
						<input ng-model="combatant.color" name="newCombatantColor" ng-click="stopPropagation($event)" type="color" />
					</li>

					<li>
						<label for="newCombatantAuraSize">Aura Size</label>
						<input ng-model="combatant.aura_size" name="newCombatantAuraSize" ng-click="stopPropagation($event)" type="number" step="1" min="0" max="20" />
					</li>

					<li>
						<label for="newCombatantAuraColor">Aura Color</label>
						<input ng-model="combatant.aura_color" name="newCombatantAuraColor" ng-click="stopPropagation($event)" type="color" />
					</li>

				</ul>

			</tab>

			<tab>
				<tab-heading>
					<i class="icon-heart"> </i>
				</tab-heading>

				<ul>

					<li ng-repeat="character in characters" ng-click="setNewCombatantFrom(character)">
						<img ng-src="{{character.token_image_url}}" width="24" height="24" style="border: 5px solid {{character.color}}" />({{character.size}}) {{character.name}}
					</li>

				</ul>

			</tab>

		</tabset>
	</div>
</div>

<div class="btn-group" data-toggle="buttons-radio" ng-controller="MapToolsCtrl">

	<button class="btn btn-small" ng-class="{'active':currentTool.name == 'Pan Map'}"title="Normal" ng-click="setTool('Normal')">
		<i class="icon-hand-up"></i>
	</button>

	<button class="btn btn-small" ng-class="{'active':currentTool.name == 'Measure'}" title="Measure" ng-click="setTool('measure')">
		<i class="icon-map-marker"></i>
	</button>

</div>

<button class="btn btn-small" title="Collapse controls" data-toggle="collapse" data-target="#top-bar" ng-click="handleToggle()">
	<i ng-class="{'open': 'icon-chevron-up', 'closed': 'icon-chevron-down'}[topBarToggle]"></i>
</button>
