<div class="btn-toolbar pull-right" ng-include="'/partials/map_tool_buttons.html'">

</div>

<div class="btn-toolbar">

	<div class="btn-group" ng-include="'/partials/participant_menu.html'"></div>

	<div class="btn-group" ng-show="user == map.owner" ng-include="'/partials/grid_menu.html'"></div>

	<div class="btn-group" ng-include="'/partials/layers_menu.html'"></div>

	<div class="btn-group" ng-controller="ListCombatantsCtrl">

		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Combatants</button>

		<button class="btn btn-small" ng-show="combatants.selected" ng-click="selectCombatant(null)">
			<span class="icon-eject"> </span>
		</button>

		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
			<span class="caret"> </span>
		</button>

		<ul class="dropdown-menu">

			<li ng-repeat="combatant in combatants" style="clear:both;">
				<a ng-click="selectCombatant(combatant)" ng-class="{'selected':combatants.selected == combatant}">
					<button type="button" class="close pull-right" ng-click="deleteCombatant($event, combatant)">&times;</button>
					{{ combatant.name }}
				</a>
			</li>

		</ul>
	</div>

	<div class="btn-group" ng-controller="ListCombatantsCtrl" ng-show="combatants.selected">
		<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
			{{combatants.selected.name}} <span class="caret"> </span>
		</a>
		<ul class="dropdown-menu">

			<li>
				<label for="selCombatantName">Name</label>
				<input ng-model="combatants.selected.name" ng-change="saveCombatant($event, combatants.selected)" ng-click="stopPropagation($event)" name="selCombatatnName" />
			</li>

			<li>
				<label for="selCombatantSize">Size</label>
				<input ng-model="combatants.selected.size" ng-change="saveCombatant($event, combatants.selected)" ng-click="stopPropagation($event)" name="selCombatantSize" type="number" step="1" min="1" max="10" />
			</li>

			<li>
				<label for="selCombatantColor">Color</label>
				<input ng-model="combatants.selected.color" ng-change="saveCombatant($event, combatants.selected)" ng-click="stopPropagation($event)" name="selCombatantColor" type="color" />
			</li>

			<li>
				<label for="selCombatantAuraSize">Aura Size</label>
				<input ng-model="combatants.selected.aura_size" ng-change="saveCombatant($event, combatants.selected)" ng-click="stopPropagation($event)" name="selCombatantAuraSize" type="number" step="1" min="0" max="20" />
			</li>

			<li>
				<label for="selCombatantAuraColor">Aura Color</label>
				<input ng-model="combatants.selected.aura_color" ng-change="saveCombatant($event, combatants.selected)" ng-click="stopPropagation($event)" name="selCombatantAuraColor" type="color" />
			</li>

			<li class="divider"></li>

			<li>
				<button class="btn btn-danger" ng-click="deleteCombatant($event, combatants.selected)">Delete</button>
			</li>

		</ul>
	</div>

	<div class="btn-group" ng-controller="ListZonesCtrl" ng-show="user == map.owner">

		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Zones</button>

		<button class="btn btn-small" ng-show="zones.selected" ng-click="selectZone(null)">
			<span class="icon-eject"> </span>
		</button>

		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu">

			<li ng-repeat="zone in zones | filter:zoneIsVisible()">
				<a ng-click="selectZone(zone)" ng-class="{'selected':zones.selected == zone}">
					<button type="button" class="close pull-right" ng-click="removeZone(zone, $event)">&times;</button>
					{{ zone.name }}
				</a>
			</li>

		</ul>
	</div>

	<div class="btn-group" ng-controller="ListZonesCtrl" ng-show="zones.selected">
		<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
			{{zones.selected.name}} <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">

			<li>
				<label for="selZoneName">Name</label>
				<input ng-model="zones.selected.name" name="selZoneName" ng-click="stopPropagation($event)" ng-change="saveZone(zones.selected, $event)" />
			</li>

			<li>
				<label for="selZoneFill">Fill Color</label>
				<input ng-model="zones.selected.fill_color" name="selZoneFill" ng-click="stopPropagation($event)" type="color" ng-change="saveZone(zones.selected, $event)"/>
			</li>

			<li>
				<label for="selZoneFillOpactiy">Fill Opacity</label>
				<input ng-model="zones.selected.fill_opacity" name="selZoneFillOpacity" ng-click="stopPropagation($event)" type="number" min="0" max="1" step="0.1" ng-change="saveZone(zones.selected, $event)"/>
			</li>

			<li>
				<label for="selZoneStroke">Stroke Color</label>
				<input ng-model="zones.selected.stroke_color" name="selZoneStroke" ng-click="stopPropagation($event)" type="color" ng-change="saveZone(zones.selected, $event" />
			</li>

			<li>
				<label for="selZoneStrokeWidth">Stroke Width</label>
				<input ng-model="zones.selected.stroke_width" name="selZoneStrokeWidth" ng-click="stopPropagation($event)" type="number" min="0" max="10" step="1" ng-change="saveZone(zones.selected, $event)" />
			</li>

			<li>
				<label for="selZoneStrokeOpacity">Stroke Opacity</label>
				<input ng-model="zones.selected.stroke_opacity" name="selZoneStrokeOpactiy" ng-click="stopPropagation($event)" type="number" min="0" max="1" step="0.1" ng-change="saveZone(zones.selected, $event)"/>
			</li>

			<li class="divider"></li>

			<li>
				<button class="btn btn-danger" ng-click="removeZone(zones.selected, $event)">Delete</button>
			</li>

		</ul>
	</div>

</div>
