<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">Participants<span class="caret"> </span></a>
<ul class="dropdown-menu">

	<li ng-repeat="participant in map.participants">
		<a>
			<button type="button" ng-show="user == map.owner" class="close pull-right" ng-click="removeParticipant(participant)">&times;</button>
			{{participant}}
		</a>
	</li>

	<li ng-show="user == map.owner" class="divider"></li>

	<li ng-show="user == map.owner">
		<div class="input-append">
			<input type="text" ng-model="new_participant" ng-click="stopPropagation($event)" >
			<button class="btn" type="button" ng-click="invite(new_participant)">Invite</button>
		</div>
	</li>
</ul>
